<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1"
         metadata-complete="false">

    <!--??springmvc??? - ?????spring??-->
    <!--springmvc?????????servlet???????servlet?????????????, -init -service -doGet/doPost-->
    <!--??springmvc??????????????-->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!--tomcat??????????????????????,??spring??????-->
        <load-on-startup>0</load-on-startup>
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <!--???????-->
            <param-name>contextConfigLocation</param-name>
            <param-value>com.yc.AppMainConfig</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>

        <!--?/???/*
            /??????/login??????????/*.jsp??????url
                                                *.css,*.html?????html??

            /*????????
        -->
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>